<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FirstWebApp</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerSave</display-name>
    <servlet-name>CustomerSave</servlet-name>
    <servlet-class>com.CustomerSave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerSave</servlet-name>
    <url-pattern>/CustomerSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerSavvee</display-name>
    <servlet-name>CustomerSavvee</servlet-name>
    <servlet-class>com.CustomerSave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerSavvee</servlet-name>
    <url-pattern>/Savvee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Health</display-name>
    <servlet-name>Health</servlet-name>
    <servlet-class>com.Health</servlet-class>
    <init-param>
      <description></description>
      <param-name>normalBP</param-name>
      <param-value>120/80</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>normalPulse</param-name>
      <param-value>72</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>normalSugar</param-name>
      <param-value>120</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Health</servlet-name>
    <url-pattern>/Health</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>dbpassword</param-name>
    <param-value>admin@123</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Demo</display-name>
    <servlet-name>Demo</servlet-name>
    <servlet-class>com.Demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo</servlet-name>
    <url-pattern>/Demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Success</display-name>
    <servlet-name>Success</servlet-name>
    <servlet-class>com.Success</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Success</servlet-name>
    <url-pattern>/Success</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Products</display-name>
    <servlet-name>Products</servlet-name>
    <servlet-class>com.Products</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Products</servlet-name>
    <url-pattern>/Products</url-pattern>
  </servlet-mapping>
</web-app>